@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	transition: 0.1s;
}

main {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*margin: auto;*/
}

#box #board {
	width: 450px;
	height: 400px;
	background-color: #BBADA0;
	border-spacing: 10px;
	border-radius: 5px;
}

#box #board .blank_cell {
	width: 100px;
	height: 100px;
	background-color: #CDC1B4;
	border-radius: 5px;
}

#box .cell {
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	/*background-color: ;*/
	border-radius: 5px;
	position: absolute;
	top: -100%;
	/*top: 10px;*/
	/*left: 10px;*/
	z-index: 10;
	/*opacity: 0;*/
	animation-name: cell_appear;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
}

@keyframes cell_appear {
	from { opacity: 0; }
	to { opacity: 1; }
}

#box .cell_2 {
	background-color: #FFFDE0;
}

#box .cell_4 {
	background-color: #FFF29C;
}

#box .cell_8 {
	background-color: #FDBE0F;
}

#box .cell_16 {
	background-color: #FFDD36;
}

#box .cell_32 {
	background-color: #FFEF0A;
}

#box .cell_64 {
	background-color: #F4BB00;
}

#box .cell_128 {
	background-color: #FEDE3A;
}

#box .cell_256 {
	background-color: #FEF247;
}

#box .cell_512 {
	background-color: #FFFCA1;
}

#box .cell_1024 {
	background-color: #FFE600;
}

#box .cell_2048 {
	background-color: #F3D000;
}

/*@keyframes mergeCell {
	from { 
		width: 95px;
		height: 95px;
	 }
	 to {
		width: 105px;
		height: 105px;
	}
}*/

.abandoned {
	/*opacity: 0;*/
	animation-name: cell_disappear;
	animation-delay: 0.1s;
}

@keyframes cell_disappear {
	from { opacity: 1; }
	to { opacity: 0; }
}