* {
	font-family: 'Kite One', sans-serif;
	padding: 0;
	margin: 0;
	transition: 0.3s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

main {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: 50px;
	text-align: center;
}

.btn {
	text-align: center;
}

button {
	font-size: 15px;
	padding: 2px;
	margin: 10px;
}

button.pressed {
	background: rgb(46, 204, 113);
}

.new {
	font-size: 20px;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ffffff;
	outline: none;
	padding: 10px;
}

.new:focus {
	border-bottom: 2px solid #58D68D;
}

.list {
	list-style-type: none;
	margin: 0 10px 50px;
}

.task {
	font-size: 20px;
	width: 100%;
	position: relative;
	margin-top: 5px;
}

.task .status {
	position: absolute;
	top: 10px;
}

.task .status:checked + .content {
 	text-decoration: line-through;
 	color: #ABB2B9;
}

.task .content {
	width: 90%;
	border: none;
	outline: none;
	word-wrap: break-word;
	position: relative;
	left: 20px;
}

input {
	/*margin: 10px;*/
}